.collection.page-width {
    .pagination-wrapper {
        display: none;
    }

    .collection-img {
        width: 222px !important;
        height: auto !important;
        margin-bottom: 30px !important;
    }

    #gf-tree:not(.spf-hidden)+#gf-grid {
        max-width: 1023px;
        width: 100%;
        padding-left: 0px !important;
    }
}

#gf-grid {
    #gf-products {
        margin-top: 50px;
        margin-right: 0px !important;
        margin-left: 0px !important;
        justify-content: space-between;
        margin-bottom: 75px;

        .spf-col-md-4 {
            max-width: 222px !important;
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

#gf-tree {
    width: 222px !important;

    .gf-filter-header,
    .globo-selected-items-wrapper,
    .gf-filter-contents,
    .gf-filter-footer {
        background: #FAFAFA;
        padding-left: 20px;
        padding-right: 20px;
    }

    .gf-block-title {
        .h3 {
            font-family: 'Barlow' !important;
            font-size: 16px !important;
            font-weight: 500 !important;
            line-height: 19.2px !important;
            text-align: left !important;
            color: #363636 !important;
        }


        .h3:after {
            margin-right: 10px !important;
            float: right !important;
        }

        .gf-refine-toggle {
            font-family: 'Nova-400' !important;
            font-size: 14px !important;
            line-height: 17.05px !important;
            letter-spacing: -0.03em !important;
            text-align: left !important;
            color: #3592FF !important;
            text-decoration: underline !important;
        }

    }

    .gf-block-content {
        .gf-option-box {
            li {
                button {
                    .gf-label {
                        font-family: 'Nova-300';
                        font-size: 16px;
                        line-height: 24px;
                        text-align: left;
                        color: #363636;

                    }
                }
            }
        }

        .checked .gf-RadioButton:before {
            content: "";
            height: 6.2px;
            width: 8px;
            background: none;
            top: 5px;
            left: 6px;
            background-image: url('/assets/icon-check.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .gf-RadioButton {
            width: 20px !important;
            height: 20px !important;
            border: 1px solid #9F9F9F;
            border-radius: 3px !important;
            margin-right: 8px;
            flex: 0 0 20px !important;
        }

        .checked[aria-checked="true"] {
            .gf-RadioButton {
                background-color: #00C08B;
                border: 1px solid #00C08B !important;
            }

            .gf-label {
                font-family: 'Nova-400';
                color: #00C08B;

            }

        }
    }
    .gf-option-block{
        padding: 19px 0 14px 0 !important;
        .gf-block-content{
            margin-top: 15px;
            ul li button {
                padding: 5px 0;
            }
        }
    }
    .globo-selected-items-wrapper {
        padding-top: 27px;
        
        .globo-selected-items {

            padding: 12px 0 !important;
            border-bottom: 1px solid #f0f0f0 !important;
        }

        .selected-item.gf-option-label {
            justify-content: flex-start;
            width: fit-content;
            padding: 3px 10px 3px 10px !important;
            gap: 10px;
            border-radius: 3px;
            background: #E4F2F8 !important;
            margin-bottom: 8px !important;

            .selected-item {
                font-family: 'Nova-300' !important;
                font-size: 14px !important;
                line-height: 24px !important;
                text-align: left !important;
                color: #363636 !important;

                span {
                    display: none;
                }

                strong {
                    span {
                        display: block;
                    }
                }


            }

            .gf-clear {
                margin-left: 10px !important;
                margin-right: 0px !important;

                svg {
                    path {
                        fill: #9F9F9F !important;
                    }
                }
            }
        }
    }
}

#gf-controls-container {
    display: flex;
    justify-content: space-between;
    height: 50px;

    .gf-controls-search-form {
        max-width: 420px;
        width: 100%;
        height: 50px;
        transform: translatex(-44px);

        input.gf-controls-search-input {
            height: auto;
            font-family: 'Nova-300';
            font-size: 16px;
            line-height: 19.49px;
            text-align: left;
            color: #2F2F2F;
            border: none;
            background: #F8F8F8;
            padding: 15px 70px 12px 24px;
            cursor: pointer;
        }

        .gf-controls-search-button {
            left: auto;
            right: 0;
            padding: 8px 11px 2px 3px !important;
        }

        .gf-controls-clear-button {
            right: 40px;
        }
    }

    .gf-summary.custom {
        flex: none;
        font-family: 'Nova-300';
        font-size: 16px;
        text-align: left;
        color: #2F2F2F;
        display: flex;
        gap: 4px;
        height: 50px;
        align-items: center;
        padding-left: 0px !important;

        b {
            font-family: 'Nova-600';
            font-size: 16px;
            text-align: left;
            color: #2F2F2F;
        }
    }

    .gf-actions {
        .gf-filter-selection {
            height: 50px;
            padding-left: 0px !important;
            padding-right: 0px !important;

            .sort-by.limit-by {
                margin-right: 20px;

                label {
                    font-family: 'Nova-300';
                    font-size: 16px;
                    text-align: left;
                    color: #2F2F2F;
                    margin: 0 0px 0 15px;
                }

                .sortby-select {
                    font-family: 'Nova-300';
                    font-size: 16px;
                    text-align: left;
                    color: #2F2F2F;
                    padding: 0px 39px 0 4.5px !important;
                }
            }

            .sort-by:before {
                right: 9.5px;
                top: 0px;
            }

            .sort-by {
                align-items: center;

                .sort-by-toggle {
                    padding: 0px 38px 0 15px;
                    display: flex;
                    gap: 10px;

                    .sort-selected {
                        font-family: 'Nova-300';
                    }

                    span {
                        font-family: 'Nova-600';
                        font-size: 16px;
                        text-align: left;
                        color: #2F2F2F;
                    }
                }
            }
        }

    }
}

// cart product in collection
.spf-product-card {
    .jdgm-widget.jdgm-preview-badge {
        margin-bottom: 17px;
    }

    .jdgm-prev-badge__text {
        font-family: 'Nova-400';
        font-size: 14px;
        color: #6A6A6A;
        display: inline-block;
        visibility: visible;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;

    }

    .jdgm-prev-badge__text::before {
        content: "(";
        position: absolute;
        left: 0;
    }

    .jdgm-prev-badge__text::after {
        content: ")";
        position: absolute;
        right: 0;
    }

    .jdgm-prev-badge[data-average-rating="0.00"] {
        .jdgm-star {
            color: grey;
        }
    }

    .jdgm-prev-badge {
        display: flex !important;
        gap: 10px;
        justify-content: center;
    }

    .jdgm-star {
        padding: 0px 4px 0 0 !important;
        font-size: 13px;
    }

    .product-vendor {
        font-family: 'Nova-400';
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #6A6A6A;
        margin-bottom: 10px;

    }

    .h4.spf-product-card__title {
        margin-bottom: 15px !important;

        a {
            font-family: 'Nova-400' !important;
            font-size: 18px !important;
            line-height: 24px !important;
            text-align: center !important;
            color: #2F2F2F !important;

        }

    }

    .price-item {
        font-family: 'Nova-600';
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #2F2F2F;

        .price-item_regular_cent {}
    }

    s.price-item {
        font-family: 'Nova-300';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #9F9F9F;

        .price-item_sale_cent {}
    }

    .spf-product__form-btn-addtocart {
        margin-top: 27px !important;
        width: 100%;
        border: 1px solid #9f9f9f !important;
        height: 50px !important;

        i {
            display: none !important;
        }

        span {
            font-family: 'Nova-400' !important;
            font-size: 14px !important;
            letter-spacing: -0.03em !important;
            color: #6A6A6A;

        }
    }

    .spf-product__form-btn-addtocart:hover {
        border: 1px solid #FF5C35 !important;
        background: #FF5C35 !important;

        span {
            color: #fff !important;
        }
    }

    .spf-product__label.spf-product__label-soldout {
        display: none;
    }

    .spf-product-card__image-wrapper {
        position: relative;

        .discount-percentage {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 121;
            padding: 4px 10px;
            background: #00C08B;
            color: #fff;
            font-family: 'Nova-700';
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            text-transform: uppercase;

        }
    }

    .spf-product-card__inner {
        padding-bottom: 18px;
        border-bottom: 1px solid #F0F0F0;
    }

    .spf-product__info {
        padding-top: 20px;
    }

}