
.sw-instagram-container .sw-carousel-arrow {
    display: none !important;
}

.sw-carousel-dots {
    display: none !important;
}

@media screen and (max-width: 500px) {
    .sw-carousel.is-mobile .sw-carousel-slider {
        padding: 3px 0px 3px 0px !important;
    }
}

.sw-instagram-header{
    display: none !important;
}

.page-width.scroll-trigger.animate--slide-in{
    padding-bottom: 74px;
    padding-top: 120px;
    @media screen and (min-width: 1200px) {
        padding-top: 78px;
    }
}
