.custom-contact-form {
    .contact {
        display: flex;
        gap: 134px;
        justify-content: center;
        flex-wrap: wrap;

        @media (min-width: 640px) {

            align-items: flex-start;
            justify-content: space-between;

        }

        .contact-form_inner {
            width: 100%;
            max-width: 756px;

            @media (min-width: 640px) {

                flex: 1 0 0;
                padding-top: 5px;

            }
        }

        .conact-collapsible__inner {
            width: 100%;
            max-width: 756px;

            @media (min-width: 640px) {

                max-width: 400px;
                width: 100%;
                position: -webkit-sticky;
                position: sticky;
                top: 175px;

            }

            .faq {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;

                &__title {
                    font-family: 'Barlow';
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 28px;
                    text-align: left;
                    color: #28282D;
                    margin-bottom: 20px;
                }

                &__item {
                    border: 1px solid #F0F0F0;
                    margin-bottom: 5px;
                    overflow: hidden;

                }

                &__question {
                    background: #F3FFFC;
                    border: none;
                    width: 100%;
                    text-align: left;
                    padding: 20px;
                    font-size: 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    outline: none;
                    position: relative;
                    font-family: 'Nova-400';
                    font-size: 16px;
                    line-height: 19.49px;
                    text-align: left;
                    color: #28282D;
                }

                &__answer {
                    font-family: 'Nova-400';
                    font-size: 16px;
                    line-height: 19.49px;
                    text-align: left;
                    padding: 20px;
                    display: none;
                    background: #F3FFFC;
                    position: relative;
                    color: #28282D;

                    p {
                        margin: 0;
                    }
                }

                &__answer::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 20px;
                    width: calc(100% - 40px);
                    height: 1px;
                    background-color: #d9d9d9;
                }

                &__icon::after {
                    content: "";
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 6px;
                    background-image: url('/assets/arrow-down.svg');
                    background-size: contain;
                    transform-origin: center;
                    transition: transform 0.3s ease;
                    pointer-events: none;
                }

                &__question.active .faq__icon::after {
                    content: "";
                    transform: rotate(180deg);
                }

                &__question.active+.faq__answer {
                    display: block;
                }

            }
        }
    }

    .background-image_contact-for {
        max-width: 756px;
        width: 100%;
        min-height: 180px;
        display: flex;
        align-items: center;
        padding-left: 60px;

        .title {
            margin: 0;
        }

        margin-bottom: 10px;
    }

    .innerform {
        &_heading {
            font-family: 'Barlow';
            font-size: 28px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            color: #28282D;
            margin-bottom: 15px;
        }

        &_text {
            font-family: 'Nova-400';
            font-size: 14px;
            line-height: 17.05px;
            letter-spacing: 0.03em;
            text-align: left;
            color: #FF5C35;
            margin-bottom: 15px;

        }

        &_richtext {
            font-family: 'Nova-400';
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            color: #28282D;
            margin-bottom: 30px;
        }
    }

    .field__input {
        background: transparent;
    }

    .block-link {
        margin-top: 10px;
        padding: 30px;
        background-color: #fafafa;
        max-width: 756px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &_title {
            font-family: 'Barlow';
            font-size: 28px;
            font-weight: 400;
            line-height: 32px;
            text-align: center;
            color: #000;
        }

        .link-inner {
            max-width: max-content;

            .link {
                font-family: "Nova-400";
                font-size: 16px;
                line-height: 19.49px;
                letter-spacing: -0.03em;
                text-align: left;
                color: #2F2F2F;
                transition: color 0.5s, transform 0.5s ease-in-out;
                display: flex;
                gap: 10px;
                align-items: center;
                text-transform: uppercase;

                svg {
                    stroke: #2f2f2f;
                    transition: transform 0.5s ease-in-out, stroke 0.5s;
                }
            }

            &:hover {
                svg {
                    transform: rotate(45deg);
                    stroke: #FF5C35;
                }

                .link {
                    color: #FF5C35;
                }
            }
        }

    }

    .innerform {
        padding: 40px 74px;
        max-width: 756px;
        width: 100%;
        background-color: #FFF7F5;
    }

    .field:after {
        content: "";
        border: 1px solid #6A6A6A;
        box-shadow: none;
    }

    .field:hover.field:after {
        box-shadow: none;
    }

    @media screen and (min-width: 750px) {
        .contact__fields {

            grid-column-gap: 1rem;
        }
    }

    @media screen and (min-width: 750px) {
        .contact .field {
            margin-bottom: 1rem;
        }
    }

    .field__label,
    .customer .field label {
        font-family: 'Nova-300';
        font-size: 16px;
        color: #2F2F2F;
        line-height: 24px;
        text-align: left;
    }

    .field__label {
        font-family: 'Nova-300';
        font-size: 16px;
        color: #2F2F2F;
        line-height: 24px;
        text-align: left;

    }

    .field-custom {
        position: relative;
        margin-bottom: 10px;

        *:focus-visible {
            outline: none;
            outline-offset: none;
            box-shadow: none;
        }
    }

    .custom-field__input:focus {
        outline: none;
    }

    .custom-field__input {
        width: 100%;
        padding: 13px 20px;
        border: 1px solid #6A6A6A;
        color: #2F2F2F;
        appearance: none;
        font-family: 'Nova-300';
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        background-color: transparent;

    }

    .field-custom::after {
        content: '';
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 6px;
        background-image: url('/assets/arrow-down.svg');
        background-size: contain;
        transform-origin: center;
        transition: transform 0.3s ease;
        pointer-events: none;
    }

    .field-custom:focus-within::after {
        transform: translateY(-50%) rotate(180deg);

    }

    @media screen and (min-width: 750px) {
        .contact__button {
            margin-top: 15px;
        }
    }

    .button {
        font-family: 'Nova-400';
        font-size: 14px;
        text-transform: uppercase;
        line-height: 17.05px;
        letter-spacing: -0.03em;
        text-align: left;
        background: #FF5C35;
        width: 100%;
    }

    .button:after {
        content: "";
        border-radius: 0;
        box-shadow: none;
        transition: none;
    }

    .button:before {
        content: "";
        border-radius: 0;
        box-shadow: none;
    }

    .button:not([disabled]):hover:after {
        --border-offset: 1.3px;
        box-shadow: none;
    }
}