.custom-main-blog {

  .blog_product-card {
    padding: 28px 43px;
    border: 1px solid #f0f0f0;

    .card-wrapper .rating-star {
      --letter-spacing: -0.2;
      --font-size: 2;
    }

    .add-to-cart-button {
      border: 1px solid #9F9F9F;
      font-family: 'Nova-400';
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.03em;
      color: #6A6A6A;
      text-align: center;
      text-transform: uppercase;
      padding: 16px;
      width: 100%;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: #fff;
        background: #FF5C35;
        border: 1px solid #FF5C35;
      }
    }

    .card-wrapper {
      .card__badge {
        align-self: self-start;
        grid-row-start: 1;
        justify-self: flex-start;

        .badge {
          background: #00c08b;
          border: 1px solid transparent;
          border-radius: 0;
          display: inline-block;
          font-family: 'Nova-700';
          font-size: 12px;
          font-weight: 700;
          line-height: 14.62px;
          text-align: center;
          text-transform: uppercase;
        }
      }

      .custom-card__content {
        margin-top: 18px;
        border-top: 1px solid #f0f0f0;
      }

      .card__information {
        padding-bottom: 30px;
        padding-top: 20px;

        .inner-raiting-and-count {
          margin-bottom: 20px;
          text-align: center;
          align-items: center;
          display: flex;
          justify-content: center;
          gap: 4px;
        }

        .rating-desc {
          font-family: 'Nova-400';
          font-size: 14px;
          line-height: 17.05px;
          text-align: left;
          color: #6A6A6A;

        }

        .caption-with-letter-spacing {
          font-family: 'Nova-400';
          font-size: 14px;
          line-height: 17.05px;
          letter-spacing: 0.03em;
          text-align: center;
          color: #6A6A6A;
          margin-bottom: 10px;
        }

        .full-unstyled-link {
          font-family: 'Nova-400';
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: #2F2F2F;
          margin-bottom: 20px;

        }

        .price {
          text-align: center;

          .price__sale {
            .price-item {
              font-family: 'Nova-600';
              font-size: 18px;
              line-height: 26px;
              letter-spacing: -0.03em;
              text-align: left;
              color: #2F2F2F;

              .price-item_regular_cent {}
            }

            .price-item--regular {
              font-family: 'Nova-300';
              font-size: 16px;
              font-weight: 300;
              line-height: 26px;
              letter-spacing: -0.03em;
              text-align: left;
              color: #6A6A6A;

              .price-item_sale_cent {}
            }
          }
        }

        .inner-raiting-and-count {
          .rating-star:before {
            content: "\2605\2605\2605\2605\2605";
            background: #FF5C35;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

          }
        }
      }
    }
  }

  .custom-newsletter__wrapper {
    padding: 55px 20px;
    background-color: #2f2f2f;
    margin: 20px 0 57px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 50px;

    @media screen and (min-width: 1000px) {
      gap: 117px;
    }

    .custom-newsletter__wrapper-title {
      font-family: 'Barlow';
      font-size: 34px;
      font-weight: 400;
      text-align: center;
      color: #FFFFFF;

    }

    .blog-newsletter-form__field-wrapper {
      width: 100%;
    }

    .blog-newsletter__form {
      @media screen and (min-width: 690px) {
        max-width: 463px;
      }

      width: 100%;
    }

    .blog-newsletter-form__field-wrapper {
      width: 100%;

      @media screen and (min-width: 690px) {
        display: flex;
      }
    }

    .blog-custom-field {
      width: 100%;
    }

    .blog-field__input {
      width: 100%;
      height: 50px;
      font-family: 'Nova-300';
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
      color: #2F2F2F;
      padding-left: 20px;

      &*:focus-visible {
        outline: none;
        outline-offset: initial;
        box-shadow: none;
      }
    }

    .blog-newsletter-button {
      width: 100%;
      height: 50px;
      font-family: 'Nova-400';
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.03em;
      color: #fff;
      background: #FF5C35;
      padding: 16px 25px 16px 25px;
      text-transform: uppercase;
    }
  }

  .custom-blog {
    &__title {
      font-family: 'Barlow';
      font-size: 34px;
      font-weight: 400;
      line-height: 40.8px;
      color: #363636;
      margin-bottom: 30px;
      margin-top: 0;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }

    &__post-banner {
      &-wrap {
        display: grid;
        column-gap: 30px;
        row-gap: 20px;
        grid-template-columns: 1.43fr 1fr;

        @media (max-width: 950px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      @media (min-width: 950px) {
        &-box:first-child {
          grid-row: span 2;
          height: auto;
        }
      }


      &-box {
        background-position: 50% !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        padding: 30px 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition-duration: 300ms;
        text-decoration: none;
        height: 285px;

        &:hover {
          opacity: 0.95;
          text-decoration: none;

        }
      }

      &-title {
        font-family: 'Barlow';
        font-size: 28px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: #fff;
        max-width: 450px;

        @media (max-width: 989px) {
          font-size: 18px;
          font-weight: 600;
        }
      }

      &-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &-create {
          font-family: 'Nova-300';
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          color: #fff;

        }

        &-tag {
          font-family: 'Nova-300';
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          color: #fff;
          line-height: 160%;
          position: relative;
          margin-left: 22px;

          &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 3px;
            background-color: #fff;
            left: -11px;
            bottom: 50%;
            transform: translateY(50%);
          }
        }
      }
    }
  }

  .custom-blog-grid {
    &__wrap {
      display: grid;
      grid-template-columns: 1fr 310px;
      column-gap: 120px;

      @media (max-width: 1280px) {
        column-gap: 70px;
        grid-template-columns: 1fr 290px;
      }

      @media (max-width: 1064px) {
        column-gap: 30px;
      }

      @media (max-width: 1064px) {
        grid-template-columns: 1fr;
      }
    }

    &__articles {
      @media (max-width: 1064px) {
        order: 1;
      }

      &-item:not(:first-child) {
        border-top: 1px solid #F9F9F9;

      }

      &-item:first-child {
        padding-top: 0px;
      }

      &-item {
        padding: 60px 0;

      }
    }

    &__sidebar {
      padding: 0;
      height: fit-content;
      position: sticky;
      top: 120px;

      @media (max-width: 1064px) {
        padding: 0;
        position: static;
      }

      a.blog-sidebar__categories-tags-item {
        color: #363636;
        font-weight: 400;

        &--active {
          color: #fff;
          border-color: #00C08B;
          background: #00C08B;

        }
      }
    }
  }

  .blog-sidebar {
    &__title {
      font-family: 'Barlow';
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: #363636;
      margin-bottom: 20px;
      text-transform: capitalize;

      &.blog-sidebar__archive-title {
        margin-bottom: 10px;
      }
    }

    &__item {
      &:not(:first-child) {
        margin-top: 60px;

        @media (max-width: 749px) {
          margin-top: 30px;
        }
      }
    }

    &__categories {
      &-tags {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        &-item {
          font-family: 'Nova-300';
          font-size: 14px;
          line-height: 17.05px;
          color: #2f2f2f;
          padding: 6px 15px;
          margin-right: 5px;
          margin-bottom: 5px;
          border: 1px solid #9f9f9f;
          display: block;
          text-decoration: none;
        }
      }
    }

    &__search {
      &-form {
        .field {
          box-shadow: none;

          @media (max-width: 989px) {
            overflow: hidden;
          }

          &:focus,
          &:focus-visible {
            box-shadow: none;
            outline: none;
          }

          &.field::before {
            box-shadow: none;
            outline: none;
          }

          &.field::after {
            box-shadow: none;
            outline: none;
          }

          &__input {
            font-family: 'Nova-300';
            font-size: 16px;
            line-height: 19.49px;
            text-align: left;
            padding: 10px;
            color: #2F2F2F;


            @media (max-width: 989px) {
              height: 50px;
            }

            &::placeholder {
              color: #363636;
            }

            &:focus~.field__label,
            &:not(:placeholder-shown)~.field__label,
            &:-webkit-autofill~.field__label {
              font-size: 8px;
              display: none;

              @media (max-width: 989px) {
                top: calc(var(--inputs-border-width) + 5px);
                left: calc(var(--inputs-border-width) + 9px);
              }

              @media (max-width: 389px) {
                font-size: 7px;
              }
            }

            &:focus,
            &:focus-visible,
            &:hover {
              box-shadow: none;
              outline: none;
            }
          }

          &__button {
            height: 48px;

            @media (max-width: 989px) {
              height: 50px;
              width: 40px;
            }

            .icon-search {
              width: 20px;
              height: 20px;
            }
          }

          &__label {
            font-family: 'Nova-300';
            font-size: 16px;
            line-height: 19.49px;
            text-align: left;
            color: #2F2F2F;
            letter-spacing: 0;

            @media (max-width: 989px) {
              top: calc(15px + var(--inputs-border-width));
              left: calc(var(--inputs-border-width) + 18px);
            }

            @media (max-width: 389px) {
              top: calc(15px + var(--inputs-border-width));
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.custom-article-card {

  display: flex;
  gap: 50px;

  &__content {
    padding: 13px 0;

    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    &-tags-item {
      background: #CAEFE2;
      padding: 6px 15px 6px 15px;
      font-family: 'Nova-300';
      font-size: 14px;
      line-height: 17.05px;
      text-align: left;
      color: #2F2F2F;
      margin-bottom: 20px;
      width: fit-content;
    }

    &-title {
      font-family: 'Barlow';
      font-size: 28px;
      font-weight: 400;
      line-height: 32px;
      text-align: left;
      color: #2F2F2F;
      text-decoration: none;

    }

    &-text {
      font-family: 'Nova-300';
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #363636;
      margin-top: 20px;

      a {
        font-family: 'Nova-600';
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: #0095FF;

      }
    }
  }

  &__content-info-read {
    font-family: 'Nova-300';
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #363636;

  }

  &__content-info-create {
    font-family: 'Nova-300';
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #2F2F2F;

  }

  &__img {
    display: contents;

    img,
    svg {
      width: 310px;
      height: 270px;
      border: 1px solid #f9f9f9;
      // object-fit: contain;
    }
  }
}

.article-search {
  padding: 10px;
  padding-bottom: 15px;
  position: relative;
}

.article-search__media {
  position: relative;
  height: 120px;

  img,
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #f7f7f7;
  }

  .card__badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
  }
}

.article-search__content {
  .card__heading {
    margin-top: 15px;

    a {
      min-height: 0 !important;
    }
  }
}

.pagination-wrapper {
  .blog-pagination__list {
    display: flex;
    justify-content: center;
    gap: 10px;

    .pagination__item {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: transparent;
      color: #fff;
      font-family: 'Nova-300';
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #9F9F9F;
      border: 1px solid #9F9F9F
    }

    .pagination__item.pagination__item--current {
      border: none;
      background-color: #00c08b;
      color: #fff;
    }

    .pagination__list>li {
      max-width: max-content;
    }

    .pagination__item--prev,
    .pagination__item--next {
      font-family: 'Nova-400';
      font-size: 16px;
      font-weight: 400;
      line-height: 19.49px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #2F2F2F;
      border: none;
      width: fit-content;
      max-width: max-content;
      display: flex;
      gap: 10px;
      text-transform: uppercase;
      text-decoration: underline;
    }

    .pagination__item--prev,
    .pagination__item--next {
      &:hover {

        color: #FF5C35;

      }
    }

    .pagination__item.not-active {
      color: #9F9F9F;

    }
  }
}

.tags-wrapper {
  &.active {
    li {
      display: block;
    }

    .tag-toggle {
      &.less {
        display: block;
      }

      &.more {
        display: none;
      }
    }
  }

  .tag-toggle {
    font-family: 'Nova-400';
    font-size: 14px;
    line-height: 17.05px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #0095FF;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;

    &.less {
      display: none;
    }
  }

  li {
    display: none;

    &:nth-child(-n + 10) {
      display: block;
    }
  }
}