.custom-section-header {
  @media screen and (min-width: 990px) {
    .header--middle-left {
      column-gap: 6rem;
      grid-template-areas: "heading navigation icons";
      grid-template-columns: auto 1fr 0.3fr;
    }

    .header__heading-logo {
      width: 515px;
    }

    .header__heading-link {
      padding-bottom: 0px;
      padding-top: 0px;
    }

    .custom-search {
      margin-left: 76px;
    }
  }

  .custom-header {
    .doubly-wrapper {
      display: none !important;
    }

    .inner-header {
      display: flex;
      justify-content: space-between;
    }
  }

  .header__icon--cart {
    svg {
      width: 20px;
    }
  }
}
.search__input.field__input{
  background-color: #F8F8F8;
}
.template-search__search {
  .field__label {
    font-family: 'Nova-300';
    font-size: 16px;
    text-align: left;
    color: #2F2F2F;
  }
}

@media screen and (min-width: 990px) {
  .search-modal__form {
    max-width: 43.2rem;
  }
}

@media screen and (min-width: 750px) {
  .search-modal__content {
    padding: 0 0rem;
  }

  .search-modal__content {
    justify-content: flex-end;
  }
}


@media screen and (max-width: 450px) {
  .header-wrapper {
    .header {
      padding: 3px 35px 1px 35px;
    }

    .icon.icon-hamburger {
      width: 18px;
      height: 19px;
    }

    .header__icon,
    .header__icon--cart .icon {
      height: 44px;
      width: 39px;
      padding: 0;
    }

    .header__icon .icon {
      height: 21px;
      width: 23px;

    }

    .header__heading-link {
      padding: 7px 0px 8px 33px;
    }

  }
}


