.slider-product {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 700px) {
  padding: 75px 0 80px !important;
  }

  .card-wrapper .rating-star {
    --letter-spacing: .01;
    --font-size: 2;
  }

  // @media screen and (min-width: 500px) {
  //   padding: 100px 0 120px;
  // }

  .slider-product__title {
    font-family: "Barlow";
    font-size: 28px;
    font-weight: 400;
    line-height: 33.6px;
    color: #2f2f2f;
    text-align: center;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 700px) {
    .slider-product__title {
      font-size: 34px;
      line-height: 40.8px;
    }
  }

  .slider-product__title:not(:has(+ .slider-product__sub-title)) {
    margin-bottom: 50px;
  }

  .slider-product__sub-title {
    font-family: "Nova-300";
    font-size: 20px;
    line-height: 30px;
    color: #2f2f2f;
    text-align: center;
    margin-bottom: -10px;

    @media screen and (min-width: 700px) {
      margin-bottom: 50px;
    }
  }

  .page-width {
    position: relative;

    .swiper-free-mode>.swiper-wrapper {
      padding-left: 0px;
    }
  }

  .rating-star:before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(90deg,
        rgb(255, 92, 53, 1) var(--percent),
        rgba(var(--color-foreground), 0.15) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .product-card-wrapper {
    .rating-count.caption {
      font-family: "Nova-400";
      font-size: 14px;
      font-weight: 400;
     
      text-align: left;
      color: rgba(106, 106, 106, 1);
    }
  }

  .card__badge {
    align-self: self-start;
    grid-row-start: 1;
    justify-self: flex-start;

    .badge {
      border: 1px solid transparent;
      border-radius: 0;
      display: inline-block;
      background: rgba(0, 192, 139, 1);
      font-family: "Nova-700";
      font-size: 12px;
      font-weight: 700;
      line-height: 14.62px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .slider-product-btn {
    border: 1px solid #00c08b;
    background: #00c08b;
    padding: 14px 40px 14px 40px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

    @media screen and (min-width: 450px) {
      background: transparent;
      max-width: max-content;
    }

    @media screen and (min-width: 550px) {
      margin-top: 60px;
    }

    .btn {
      font-family: "Nova-400";
      font-size: 14px;
      line-height: 17.05px;
      letter-spacing: -0.03em;
      color: #fff;
      text-decoration: none;
      display: flex;
      justify-content: center;

      @media screen and (min-width: 450px) {
        color: #00c08b;
      }
    }
  }

  .slider-product-btn:hover {
    background: #00c08b;

    .btn {
      color: #fff;
    }
  }
}


.swiper.mySwiper {
  margin-bottom: 60px;

  // старт карточка товара
  .quick-add {
    // margin-top: auto;
  }

  .quick-add__submit.button::after {
    content: none;
  }

  .quick-add__submit.button::before {
    content: none;
  }

  .quick-add__submit.button {
    background: transparent;
    border: 1px solid #2f2f2f;

    span {
      font-family: "Nova-400";
      font-size: 14px;
      line-height: 17.05px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #2f2f2f;
      text-transform: uppercase;
    }
  }

  .quick-add__submit.button:hover {
    background: #ff5c35;
    border: none;

    span {
      color: #fff;
      font-family: "Nova-400";
      font-size: 14px;
      line-height: 17.05px;
      letter-spacing: -0.03em;
      text-align: left;
    }
  }

  .card__inner.gradient {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 769px) {
    .card.card--standard.card--media {
      min-height: 525px !important;
      height: 100%;
    }
  }

  .card.card--standard.card--media {
    height: 100%;
  }

  .card-wrapper.product-card-wrapper {
    .card__content.custom-card__content {
      border-top: 1px solid #f0f0f0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card__information {
        // height: 100%;

        display: flex;
        flex-direction: column;
        padding: 20px 0px 10px 0px;

        @media screen and (min-width: 550px) {
          padding: 20px 0px 0px 0px;
        }

        .card-information {
          margin-top: auto;
        }
      }
    }
  }

  @media screen and (min-width: 750px) {
    .card__information {
      padding-bottom: 0px;
      padding-top: 20px;
    }
  }

  .extend-height.card--media.card__inner {
    height: 220px;
  }

  .card-wrapper {
    width: 100%;
    padding: 0px;
  }

  .caption-with-letter-spacing.light {
    font-family: "Nova-400";
    font-size: 14px;
    line-height: 17.05px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #6a6a6a;
    margin-bottom: 10px;
  }

  .inner-raiting-and-count {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 20px;

    .rating {
      display: flex;
    }
  }

  .card__heading {
    text-align: center;
    font-family: "Nova-400";
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #2f2f2f;
    margin-bottom: 5px;
  }

  .price {
    .price__container {
      display: flex;
      justify-content: center;

      .price-item.price-item--regular {
        font-family: "Nova-600";
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.03em;
        text-align: left;

        .price-item_regular_cent {
          font-family: "Nova-600";
          font-size: 13px;
          letter-spacing: -0.03em;
          text-align: left;
        }
      }

      s.price-item.price-item--regular {
        font-family: "Nova-300";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #6a6a6a;

        .price-item_sale_cent {
          font-family: "Nova-300";
          font-size: 12px;
          letter-spacing: -0.03em;
          text-align: left;
          color: #6a6a6a;
        }
      }

      .price-item.price-item--sale.price-item--last {
        font-family: "Nova-600";
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.03em;
        text-align: left;

        .price-item_regular_cent {
          font-family: "Nova-600";
          font-size: 13px;
          letter-spacing: -0.03em;
          text-align: left;
        }
      }
    }
  }

  // энт карточка товара
}


.wrapper_btn-slider {

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: none;
  }

  .swiper-button-next {
    width: 50px;
    height: 50px;
    background: #00c08b;
    border-radius: 50%;
    z-index: 1;

    svg {
      width: 9px;

      path {
        fill: #fff;
      }
    }
  }

  .swiper-button-next.swiper-button-disabled {
    background: transparent;
    border: 1px solid #181214;
    opacity: 100;

    svg {
      path {
        fill: #181214;
      }
    }
  }

  .swiper-button-prev {
    width: 50px;
    height: 50px;
    background: #00c08b;
    border-radius: 50%;
    z-index: 1;

    svg {
      width: 9px;

      path {
        fill: #fff;
      }
    }
  }

  .swiper-button-prev.swiper-button-disabled {
    background: transparent;
    border: 1px solid #181214;
    opacity: 100;

    svg {
      path {
        fill: #181214;
      }
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -66px);
    right: auto;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -65px);
    left: auto;
  }
}

@media screen and (min-width: 1500px) {
  .slider-product {

    .swiper-button-next,
    .swiper-button-prev {
      top: var(--swiper-navigation-top-offset, 52%);
    }
  }
}

@media screen and (max-width: 1500px) {
  .slider-product {

    .swiper-button-next,
    .swiper-button-prev {
      position: static;
      z-index: 1;
    }

    .wrapper_btn-slider {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 72px;
    }
  }
}

@media screen and (min-width: 550px) {
  .rating-desc {}

  .rating-mob {
    display: none;
  }

  .slider-product {
    .card__information {
      height: 190px;
    }
  }

  .price--on-sale .price__sale {

    display: flex;
  }
}

@media screen and (max-width: 549px) {
 
  .rating-desc {
    display: none;
  }

  .card-wrapper .rating-star {
    --letter-spacing: 0;
    --font-size: 1.4;
  }

  .caption-with-letter-spacing {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .card__heading {
    color: #2f2f2f;
    font-family: Nova-400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}