.custom-announcement-bar {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #00c08b;
  .inne-announcement-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .announcement-bar__message.h5 {
      font-family: "Nova-600" sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 15.83px;
      letter-spacing: 0.05em;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }
    .announcement-widget_countries {
      display: flex;
      align-items: center;
      .delivery-heading {
        font-family: "Nova-600" sans-serif;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.8px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        margin-right: 4px;
      }
    }

    .doubly-wrapper.custom-german .doubly-nice-select .current {
      color: #fff !important;
    }
    .doubly-wrapper .doubly-nice-select::after {
      border-color: #fff !important;
    }
    @media screen and (max-width: 820px) {
      .doubly-wrapper.custom-german {
        display: none;
      }
      .announcement-widget_countries {
        display: none;
      }
    }
    @media screen and (min-width: 821px) {
      .announcement-bar,
      .announcement-bar__announcement {
        align-content: flex-start;
      }
      .announcement-bar-slider.slider-buttons {
        max-width: 372px;
        width: 100%;
      }
      .announcement-bar {
        max-width: 572px;
        width: 100%;
      }
      .announcement-widget_countries{
        width: 312px;
      }
    }
  }
}
