.custom-header-menu.body-container {
  background: rgba(47, 47, 47, 1);
  height: max-content;

  .custom-header-menu-inner {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .header__menu-item {
    padding-top: 16px;
    padding-bottom: 15px;
  }
  .header__menu-item.list-menu__item {
    color: #fff;
    text-transform: capitalize;
    font-family: "Nova-400" sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.49px;
    letter-spacing: 0.05em;
    text-align: center;

    svg {
      color: currentColor;
    }
  }
  .mega-menu__content {
    z-index: 2;
  }
}
// стили для мега меню
.custom-header-menu.body-container {
  background: #4f4f4f;
}
.mega-menu[open] .mega-menu__content {
  background: #4f4f4f;
}

// стили для меню бест
.mega-menu__link.mega-menu__link--level-2.link {
  color: #ff5c35;
  font-family: "Nova-400";
  font-size: 16px;
  line-height: 19.49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
// .mega-menu__link.mega-menu__link--level-2.link:hover {
//   /* Отменяем стили для hover-эффекта */
//   color: inherit;
//   text-decoration: none;
//   pointer-events: none; /* Если нужно полностью отключить hover-эффект */
// }
.mega-menu__link.link {
  font-family: "Nova-300";
  font-size: 13px;
  line-height: 15.83px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #f0f0f0;
  text-transform: uppercase;
}
.list-unstyled .mega-menu__link.link:hover {
  font-family: "Nova-600";
  font-size: 13px;
  line-height: 15.83px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #00c08b;
}
#MegaMenu-Content-1 {
  .mega-menu__list.page-width {
    // display: flex;
    // gap: 57px;
    .list-unstyled.german {
      width: 500px;

      column-count: 3;
      column-gap: 20px;
      li {
        break-inside: avoid;
      }
    }
  }
}

//  меню

ul.mega-menu__list {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // // grid-auto-rows: auto;
  // // grid-auto-flow: column;
  // gap: 10px;
  display: block;
  columns: 5;
}

ul.mega-menu__list li {
  break-inside: avoid;
  &:not(:last-child) {
    width: 14%;
    margin-bottom: 10px;
  }
}

ul.mega-menu__list li.best-collection {
  // grid-column: 5 / 6;
  // grid-row: 1 / span 10;
  break-before: column;
}
