.custom-banner-and-content {
  .banner-wrapper{
    display: flex;
    justify-content: center;
    @media screen and (min-width: 790px) {
    flex-direction: column;
    }

  }
  .inner_banner-content {
    display: flex;
    align-content: center;
    flex-direction: column;

    @media screen and (max-width: 790px) {
      padding-top: 60px;
    }
  }

  .img-in-banner {
    margin-bottom: 30px;
    max-width: 498px;
    width: 100%;
  }

  .banner-content {
    margin-bottom: 50px;
    max-width: 600px;
    width: 100%;
    font-family: 'Nova-300';
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #2F2F2F;
  }

  .icon-inner {
    gap: 30px;
    column-gap: 25px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    .icon-box{
      max-width: 90px;
      
      width: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (min-width: 790px) {
      display: flex;
    }
  }
}

//
@media screen and (max-width: 790px) {
  .custom-banner-and-content{
    .img-in-banner {
      height: 38px;
    }
  }
}

