.shopify-section {
  &:not(:last-child) .section-tab {
    padding-bottom: 10px;
  }
}

.free-downloads-tabs {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 35px 0;

  &__wrapper {
    display: flex;
    overflow: hidden;
  }

  &__buttons {
    display: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__content {
    width: 100%;

    @media (min-width:1090px) {
      flex: 1 0 0;
    }
  }
}

.section-tab {
  .inner-tab-content {
    border: 1px solid rgba(58, 57, 58, 0.3);
    padding: 0;
    overflow: hidden;
    display: flex;
  }



  &__wrapper {
    width: 100%;

    border-top: 1px solid rgba(58, 57, 58, 0.3);
    padding: 25px;

    &.hidden {
      display: none;
    }
  }

}





// new style




.free-downloads-tabs__buttons {
  
  .tab-trigger {
    width: 220px;
    padding: 12px 0 12px 0;
    border: 1px solid #9F9F9F;
    background: #FFFFFF;
    color: #2F2F2F;
    font-family: 'Barlow';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;


  }

  .tab-trigger.active {
    border: 1px solid #FF5C35;
    background: #FF5C35;
    color: #fff;
  }
}



.free-downloads-tabs {
  .inner-tab-content {
    display: flex;
  }
}

.sw-carousel-list {
  width: 901px !important;
}