.shopify-section {
  // &:not(:last-child) .section-tab {
  //   padding-bottom: 10px;
  // }
}

.free-downloads-tabs {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 35px 0;

  &__wrapper {
    display: flex;

    @media (max-width: 1010px) {
      flex-direction: column;
    }

  }

  &__buttons {
    display: none;
    display: flex;
    flex-direction: column;
    gap: 1px;

    @media (max-width: 1010px) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    .tab-trigger {

      width: 220px;
      padding: 12px 0 12px 0;
      border: 1px solid #9F9F9F;
      background: #FFFFFF;
      color: #2F2F2F;
      font-family: 'Barlow';
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-transform: uppercase;
      display: flex;
      gap: 20px;
      align-items: center;
      padding-left: 30px;
      cursor: pointer;

      @media screen and (max-width:535px) {
        width: 100%;
      }
    }

    .tab-trigger.active {
      border: 1px solid #FF5C35;
      background: #FF5C35;
      color: #fff;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__content {
    width: 100%;
    padding: 40px 50px;
    @media screen and (max-width:535px) {
      padding: 40px 20px;
    }
    border: 1px solid rgba(58, 57, 58, 0.3);
  }
}

.section-tab {

  &__wrapper {
    width: 100%;
    background-color: red;
    border-top: 1px solid rgba(58, 57, 58, 0.3);
    padding: 25px;

    &.hidden {
      display: none;
    }
  }
}

// new style

.free-downloads-tabs__buttons {}

.free-downloads-tabs {
  .inner-tab-content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:835px) {
      flex-direction: column-reverse;
      gap: 40px;
    }

    .left-box {
      &__title {
        font-family: 'Barlow';
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        color: #3A393A;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .metafield-rich_text_field {
        p {
          font-family: 'Nova-300';
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          color: #3A393A;
          margin-bottom: 15px;

          em {
            margin-top: 20px;
            color: #FF5C35;
            font-style: normal;
          }
        }

        ul {
          margin: 0px 0px 20px 0px;
          padding: 0;

          li {
            list-style: none;
            display: flex;
            gap: 15px;
            font-family: 'Nova-300';
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            margin-bottom: 10px;
            align-items: center;
          }

          li::before {
            content: '';
            width: 10px;
            height: 10px;
            background-image: url('/assets/li-marker.svg');
            background-size: contain;
            background-repeat: no-repeat;
          }

        }
      }
    }

    .right-box {

      img {
        border: 1px solid #F0F0F0;
        @media screen and (max-width: 1120px) and (min-width: 834px) {
          width: 300px;
          height: 300px;
        }
        @media screen and (max-width: 834px) {
          width: 100%;
          height: auto;
        }

      }
    }

    @media screen and (min-width:835px) {
      .right-box:has(img) {
        margin-left: 70px;
      }
    }

  }
}

.sw-carousel-list {
  width: 901px !important;
}



// 

//  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  стили для моб дроп даун табов !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

// /* Стили для выпадающего списка */
// .dropdown {
//   position: relative;
//   display: inline-block;
//   width: 100%;
// }

// .dropdown-toggle {
//   width: 100%;
//   padding: 10px;
//   background-color: #f0f0f0;
//   border: none;
//   cursor: pointer;
//   text-align: left;
// }

// .dropdown-menu {
//   display: none; /* Скрываем меню по умолчанию */
//   position: absolute;
//   width: 100%;
//   background-color: #ffffff;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

// .dropdown-menu .tab-trigger {
//   padding: 10px;
//   cursor: pointer;
// }

// .dropdown-menu .tab-trigger:hover {
//   background-color: #f1f1f1;
// }

// .active-tab {
//   font-weight: bold;
// }

// /* Адаптивные стили для мобильных устройств */
// @media (max-width: 768px) {
//   .free-downloads-tabs__buttons {
//     display: none; /* Скрываем стандартные кнопки табов на мобильных устройствах */
//   }

//   .dropdown-menu {
//     display: block;
//   }
// }

// .dropdown-menu {
//   display: none; /* Скрываем меню по умолчанию */
//   position: absolute; /* Абсолютное позиционирование */
//   background-color: white; /* Фон меню */
//   border: 1px solid #ddd; /* Рамка меню */
//   width: 100%; /* Ширина меню */
//   z-index: 1000; /* Порядок наложения */
// }

// .dropdown-menu.show {
//   display: block; /* Показываем меню, когда добавлен класс 'show' */
// }

// .dropdown-toggle {
//   cursor: pointer; /* Указатель при наведении */
//   display: inline-block; /* Отображение в виде кнопки */
// }