@import '../mixins/media.scss';
.section-article {
  padding: 36px 0 40px;

  .article-template__back {
    margin: 3.9rem 0 30px;

    @include lg {
      margin: 5.9rem 0 0;
    }

    // &:last-child {
    //   margin-bottom: 0;
    // }

    .article-template__link {
      justify-content: flex-start;
      font-family: 'Nova-400';
      font-size: 16px;
      line-height: 19.49px;
      letter-spacing: -0.03em;
      text-align: left;
      text-transform: uppercase;
      text-decoration: underline;
      color: #2f2f2f;


      .icon-wrap {
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 18px;
        transform: rotate(275deg);
        width: 18px;

        svg {
          fill: currentColor;
          height: auto;
          width: 1.2rem;
        }
      }
    }
  }

  @include lg {
    padding-bottom: 12rem;
  }

  >.page-width.page-twocolumns {
    @include md {
      display: grid;
      grid-template-columns: auto 280px;
      grid-template-rows: auto;
      gap: 0 120px;
    }

    @include xlg {
      grid-template-columns: auto 310px;
    }
  }

  .article-template> :first-child:not(.article-template__hero-container) {
    margin-top: 0;
  }
  .article-template__hero-adapt.media{
    height: 18.4vw;
  }
  .article-template header {
    margin: 0 0 3rem;
    line-height: inherit;

    &:not(:first-child) {
      margin-top: 3rem;

      @include lg {
        margin-top: 61px;
      }
    }

    >span {
      font-family: 'Nova-300';
      font-size: 14px;
      line-height: 24px;
      color: #2f2f2f;

    }
  }

  .article-template__title {
    font-family: 'Barlow';
    font-size: 34px;
    font-weight: 400;
    line-height: 40.8px;
    text-align: left;
    color: #2f2f2f;

    &:not(:only-child) {
      margin: 10px 0 30px;
    }
  }

  .article-template__hero-container {
    margin: 3rem 0;
    max-width: none;
  }

  .article-template__content {
    margin: 2rem 0 1.1rem;

    table {
      box-shadow: none;

      td {
        border: 0;
      }
    }

    h3:has(+ ul) {
      color: #FF5C35;
    }

    h2,
    h3 {

      font-family: 'Barlow';
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: #2f2f2f;
      margin-top: 30px;

    }

    p:last-of-type {
      margin: 2rem 0 3rem;
    }

    p {
      margin: 2rem 0 2rem;
      font-family: 'Nova-300';
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
      color: #2f2f2f;

      a {
        color: #0095ff;
        cursor: pointer;
        font-family: 'Nova-400';
        font-size: 14px;
        letter-spacing: -.03em;
        line-height: 17.05px;
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;
      margin: 2rem 0 2.8rem;
      padding: 0;

      li {
        padding: 0 0 0 25px;
        position: relative;
        margin-bottom: 15px;
        font-family: 'Nova-300';
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: #2f2f2f;

        strong {
          font-family: 'Nova-400';
          color: #000;
        }

        &:before {
          content: '';
          width: 10px;
          height: 10px;
          background-image: url('/assets/li-marker.svg');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 6px;
        }

        a {
          color: #0095ff;
          cursor: pointer;
          font-family: 'Nova-400';
          font-size: 14px;
          letter-spacing: -.03em;
          line-height: 17.05px;
          text-decoration: underline;
        }
      }

      li:last-of-type {
        margin: 0;
      }
    }

    img {
      margin-top: 30px;
    }

    a {
      img {
        margin-right: 10px;
        border: none;
        height: 300px;
      }
    }
  }

  .list-social {
    margin: 50px 0 50px;
    justify-content: center;
    gap: 10px;

    .list-social:only-child {
      justify-content: center;
    }

    .list-social__link {
      padding: 0;

      .icon {
        height: 40px;
        width: 40px;
      }
    }
  }

}

.article-aside {
  padding: 0;
  @include md {
    position: sticky;
    top: 200px;
    height: fit-content;
  }

  .discount-card {
    border: 1px solid #F0F0F0;
    margin-bottom: 59px;
    max-width: 500px;
    &_image {
      width: 100%;
      object-fit: cover;
      @include md {
      width: -webkit-fill-available;
      }
    }

    &_inner {
      padding: 17px 40px 17px;
    }

    &_heading {
      font-family: 'Barlow';
      font-size: 34px;
      font-weight: 400;
      line-height: 40.8px;
      text-align: center;
      color: #363636;
      text-transform: uppercase;
      margin-bottom: 15px;
      text-align: center;
    }

    &_content {
      font-family: 'Nova-400';
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: #28282D;
      margin-bottom: 15px;
      text-align: center;
    }

    &_button {
      max-width: 300px;
      margin: 0 auto;
      font-family: 'Nova-400';
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: -0.03em;
      color: #6A6A6A;
      border: 1px solid #9F9F9F;
      padding: 16px 20px 16px 20px;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      justify-content: center;

      &:hover {
        border: solid 1px #FF5C35;
        color: #fff;
        background: #FF5C35;

      }
    }
  }

  .blog-sidebar {
    &__title {

      font-family: 'Barlow';
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: #363636;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    &__item {
      margin-top: 59px;
      max-width: 310px;

      .field__label {
        font-family: 'Nova-300';
        font-size: 16px;
        line-height: 19.49px;
        text-align: left;
        color: #2F2F2F;

      }

      @media (max-width: 989px) {
        max-width: none;
      }

      @media (max-width: 749px) {
        margin-top: 30px;
        max-width: none;
      }
    }

    &__categories {
      &-tags {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        &-item {
          color: #2f2f2f;
          font-family: 'Nova-300';
          font-size: 14px;
          line-height: 17.05px;
          padding: 4px 15px;
          margin-right: 5px;
          margin-bottom: 6px;
          border: 1px solid #9f9f9f;
          display: block;
          text-decoration: none;
        }

        &-item--active {
          background: #00C08B;
          color: #fff;
        }
      }
    }
  }
  .tags-wrapper{
    .tag-toggle {
      margin-top: 6px;
    }
  }
}

.circle-divider:after {
  display: none;
}