.shopify-section {
  &:not(:last-child) .section-tab {
    padding-bottom: 10px;
  }
}
.free-downloads-tabs {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 35px 80px;
  &__wrapper {
      display: flex;
      border-radius: 10px;
      border: 1px solid #000;
      overflow: hidden;
  }
  &__buttons {
    display: none;
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 1px;
  }
  &__content {
    width: 100%;
    @media (min-width:1090px) {
      flex: 1 0 0;
    }
  }
}
.section-tab {
  .inner-tab-content {
    border: 1px solid rgba(58, 57, 58, 0.3);
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  .tab-trigger {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    padding: 24px 50px 24px 25px;
    cursor: pointer;
    transition: color 0.3s, text-shadow 0.3s;
    position: relative;

    p {
      display: inline;
      margin: 0;
    }
  }

  &__wrapper {
    width: 100%;
  
    border-top: 1px solid rgba(58, 57, 58, 0.3);
    padding: 25px;

    &.hidden {
      display: none;
    }
  }

}


 
  

