<div class="swiper-wrapper">
  <!-- Slides -->
  {% for product in collections.all.products limit: 20 %}
    <div class="swiper-slide">
      <div class="swiper__container">
        <div class="image__container">
          {{ product | image_url: width: 300 | image_tag }}
          <div class="add-cart">ADD TO CART</div>

          <div class="badge"><span>Best</span><span>Seller</span></div>
        </div>
        <div class="product__content">
          <p class="product__title">{{ product.title }}</p>
          <p class="product__price">{{ product.price | money_without_currency }} $</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "search-slide",
  "presets": [
    {
      "name": "search-slide"
    }
  ]
}
{% endschema %}
