<script src="{{ 'custom-slider-script.js' | asset_url }}" defer="defer"></script>
<div class='page-width'>
<component-slider-swiper>
  <swiper-container
    init="false"
    data-options='
      {
        "slidesPerView": 2,
        "spaceBetween": 10,
        "slidesOffsetAfter": 0,
        "slidesOffsetBefore": 0,
        "breakpoints": {
          "480": {
            "slidesPerView": 3.2,
            "spaceBetween": 10,
            "slidesOffsetAfter": 16,
            "slidesOffsetBefore": 16
          },
          "750": {
            "slidesPerView": 3.5,
            "spaceBetween": 10,
            "slidesOffsetAfter": 64,
            "slidesOffsetBefore": 64
          },
          "1080": {
            "slidesPerView": 5.5,
            "spaceBetween": 10,
            "slidesOffsetAfter": 64,
            "slidesOffsetBefore": 64
          }
        }
      }
    '
    style="width: 100%;"
  >
   
    {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      <swiper-slide>
       
        {% render 'card-product',
          card_product: product,
          quick_add: section.settings.quick_add,
          show_product_info: true,
          extend_height: true,
          media_aspect_ratio: 'adapt',
          show_vendor: true,
          show_rating: true,
          section_id: section.id,
          lazy_load: lazy_load,
          show_labels: false
        %}
    
      </swiper-slide>
    {%- endfor -%}
  
  </swiper-container>
  <div class="custom-prev-button custom-swiper-btn" data-slider-arrow>1</div>

  <div class="custom-next-button custom-swiper-btn" data-slider-arrow>2</div>
  <div class="custom-pagination" style="display: none"></div>
  <div class="custom-scrollbar"></div>
</component-slider-swiper>

</div>


{% schema %}
{
  "name": "test-slid",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "test slide"
    }
  ]
}
{% endschema %}
