 

 
     


 
 <form method="post" action="/contact#contact_form" accept-charset="UTF-8">
  <input type="hidden" name="form_type" value="customer">
  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="contact[email]" required />
  </div>

  <div class="submit">
    <input type="submit" value="Sign up" />
  </div>
</form> 

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "test formr"
    }
  ]
}
{% endschema %}
